body {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
  }
  
  a {
    color: black;
  }
  
  h2,
  h3,
  h4,
  p, h5
  {
    margin: 0;
    padding: 10px;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
      }

  .banner {
      background-image: url("../images/banner.png");
      width: auto;
      height: 400px;
      background-size: cover;
      background-position: center;

  }

  .header img{
      height: 80px;
      width: auto;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
    padding: 10px;
  }
  
  .navbar p {
    display: inline-block;
    padding: 10px 10px;
  }
  
  .main {
        opacity: 0.9;
  }
  
  .mission {
    display: flex;
    height: 250px;
    padding: 10px;
    
  }
  
  .mission .content {
    margin: auto;
    background-color: white;
    width: 100%;
  }
  
  #portfolio {
    min-height: 450px;
    margin: auto;
    background-color: rgba(0, 74, 173, 0.2);
    padding: 10px;
      }
  
  .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex: 1 1 auto;

  }
  
  .company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .company img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 10px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
  }
  
  .company span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
  }
  

#team-container {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
    
}

  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    gap: 100px;
    overflow: hidden;
    flex: 1 1 auto;
  }
  
  .teammate {
    padding: 10px;
    color:black;
    flex-basis: 280px;
    overflow: hidden;
  }
  
  .teammate img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    overflow: hidden;
  }
  
  .contact {
    background-color: rgba(0, 74, 173, 1.0);
    color: white;
    padding: 10px;

  }
  .copyright {
    background-color: black;
    color: white;
    padding: 10px;

}